@model OPKODABbl.Models.Gallery.Gallery

<div class="content_wrapper">
    <div class="content_wrapper_yellow">@Model.GalleryTitle</div>
    <div class="date_wrapper_blue">@Model.GalleryDate.ToShortDateString()</div>
    <div class="viewgallery_wrapper">
        @if (!string.IsNullOrEmpty(Model.GalleryDescription))
        {
            <div class="viewgallery_bodytext">
                @Html.Raw(Model.GalleryDescription)
            </div>
        }
    </div>
</div>

@if (Model.GalleryImages.Count > 0)
{
    <div class="readnews_image_wrapper">
        @{
            int positionCount = 0;
        }
        @foreach (var image in Model.GalleryImages)
        {
            if (positionCount % 3 == 0)
            {
                <div class="viewimage_image0" style="background-image: url(@image.ImagePathScaled)">
                    <div class="viewimage_image_lamp"></div>
                    <a class="readnews_image_link" href="@image.ImagePathOriginal"></a>
                    <img src="~/images/img_preview_border.png" />
                </div>
            }
            else
            {
                <div class="viewimage_image1" style="background-image: url(@image.ImagePathScaled)">
                    <div class="viewimage_image_lamp"></div>
                    <a class="readnews_image_link" href="@image.ImagePathOriginal"></a>
                    <img src="~/images/img_preview_border.png" />
                </div>
            }
            positionCount++;
        }
    </div>
}

