@model OPKODABbl.Areas.Admin.ViewModels.Gallery.ViewGalleryViewModel

<center>

    <br />
    @Html.ActionLink("Назад в управление галереей", "Index", "Gallery")
    <br /><br />

    @Model.GalleryTitle (Изображений: @Model.GalleryImages.Count())

    <br /><br />

    @if (!string.IsNullOrEmpty(Model.GalleryDescription))
    {
        <table border="1" style="width: 700px;">
            <tr>
                <td>
                    @Html.Raw(Model.GalleryDescription)
                </td>
            </tr>
        </table>
    }

    <form asp-controller="Gallery" asp-action="ViewGallery" method="post" enctype="multipart/form-data">
        <div>
            <input type="hidden" asp-for="GalleryId" value="@Model.GalleryId" />
            <input type="hidden" asp-for="GalleryDate" value="@Model.GalleryDate" />
            <input type="hidden" asp-for="UserName" value="@Model.UserName" />
            <input type="hidden" asp-for="GalleryTitle" value="@Model.GalleryTitle" />
            <input type="hidden" asp-for="GalleryDescription" value="@Model.GalleryDescription" />
        </div>
        <div>
            <font color="red">@Html.ValidationMessageFor(f => f.GalleryImage)</font><br />
            <input type="file" name="uploads" accept=".jpg,.jpeg,.gif,.png" multiple="" />
            &nbsp;&nbsp;&nbsp;
            <input type="submit" value="Загрузить" />
        </div>
    </form>

    <br />
    <br />

    @if (Model.GalleryImages != null && Model.GalleryImages.Count > 0)
    {
        int imageCount = 0;

        foreach (var image in Model.GalleryImages)
        {
            if (imageCount > 0 && imageCount % 3 == 0)
            {
                <br /><br />
            }
            <div style="display: inline-block;">
                <a href="@Url.Content(image.ImagePathOriginal)"><img src="@Url.Content(image.ImagePathScaled)" /></a><br />
                @if (User.IsInRole("admin"))
                {
                    <a asp-action="ViewGallery" asp-controller="Gallery" asp-route-galleryId="@Model.GalleryId" asp-route-imageToDeleteName="@image.ImageName">Удалить изображение</a>
                }
            </div>
            imageCount++;
        }
    }

</center>






@section scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}