@model OPKODABbl.Areas.Admin.ViewModels.Forum.SectionsViewModel

<center>
    <br />
    @Html.ActionLink("Назад в панель администратора", "Index", "Home")
    <br />
    <br />
</center>

<form asp-action="ApplySettings" asp-controller="Forum">
    <table border="1" align="center">
        <tr>
            <td>Тем на странице</td>
            <td>Сообщений на странице</td>
        </tr>
        <tr>
            <td align="center">
                <input style="width: 50px;" type="number" min="10" max="100" asp-for="SubsectionPageSize" />
            </td>
            <td align="center">
                <input style="width: 50px;" type="number" min="1" max="100" asp-for="TopicPageSize" />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Сохранить" />
            </td>
        </tr>
    </table>
</form>

<table border="1" align="center">
    @foreach (var sec in Model.Sections.OrderBy(s => s.SectionPosition))
    {
        <tr style="background-color: red;">
            <td>
                @sec.SectionName
            </td>
            <td>@Html.ActionLink("Вверх", "MoveSectionUp", "Forum", new { sectionId = sec.Id })</td>
            <td>@Html.ActionLink("Вниз", "MoveSectionDown", "Forum", new { sectionId = sec.Id })</td>
            <td>
                <form asp-action="DeleteSection" asp-controller="Forum" method="post">
                    <input type="hidden" value="@sec.Id" name="sectionId" />
                    <input type="checkbox" value="True" name="isChecked" />
                    <input type="submit" value="Удалить" />
                </form>
            </td>
        </tr>
        @foreach (var subsec in sec.Subsections.OrderBy(s => s.SubsectionPosition))
        {
            <tr>
                <td>
                    -----@subsec.SubsectionName
                </td>
                <td>@Html.ActionLink("Вверх", "MoveSubsectionUp", "Forum", new { sectionId = sec.Id, subsectionId = subsec.Id })</td>
                <td>@Html.ActionLink("Вниз", "MoveSubsectionDown", "Forum", new { sectionId = sec.Id, subsectionId = subsec.Id })</td>
                <td>
                    <form asp-action="DeleteSubsection" asp-controller="Forum" method="post">
                        <input type="hidden" value="@subsec.Id" name="subsectionId" />
                        <input type="checkbox" value="True" name="isChecked" />
                        <input type="submit" value="Удалить" />
                    </form>
                </td>
            </tr>
        }
        <tr>
            <td colspan="4">
                <form asp-action="CreateSubsection" asp-controller="Forum" method="post">
                    <input type="hidden" name="sectionId" value="@sec.Id" />
                    <input type="text" name="subsectionName" />
                    <input type="submit" value="Создать подраздел" />
                </form>
            </td>
        </tr>
    }
</table>

<br />
<br />
<br />

<center>
    <form asp-action="CreateSection" asp-controller="Forum" method="post">
        <input type="text" name="sectionName" />
        <input style="width: 50px;" type="number" name="sectionAccessLevel" />
        <input type="submit" value="Создать раздел" />
    </form>
</center>