@model OPKODABbl.Models.Main.News

<div class="content_wrapper">
    <div class="content_wrapper_yellow">@Model.NewsTitle</div>
    <div class="date_wrapper_blue">@Model.NewsDate.ToShortDateString()</div>
    @*<a class="content_wrapper_yellow" asp-action="ReadNews" asp-controller="News" asp-route-newsId="@Model.Id">@Model.NewsTitle</a>*@
    <!--
    -->
    @*<a class="content_wrapper_blue" asp-action="ReadNews" asp-controller="News" asp-route-newsId="@Model.Id">@Model.NewsDate.ToShortDateString()</a>*@
    <div class="readnews_wrapper">
        <div class="readnews_bodytext">
            @Html.Raw(Model.NewsBody)
        </div>

        @*<span class="readnews_date">@Model.NewsDate.ToShortDateString()</span>*@
        <span class="readnews_author">@Model.NewsUserName</span>
    </div>
</div>

@if (Model.NewsImages.Count > 0)
{
    <div class="readnews_image_wrapper">
        @{
            int positionCount = 0;
        }
        @foreach (var image in Model.NewsImages.OrderBy(i => i.ImageDate))
        {
            if (positionCount % 3 == 0)
            {
                <div class="readnews_image0" style="background-image: url(@image.ImagePathScaled)">
                    <div class="readnews_image_lamp"></div>
                    <a class="readnews_image_link" href="@image.ImagePathOriginal"></a>
                    <img src="~/images/img_preview_border.png" />
                </div>
            }
            else
            {
                <div class="readnews_image1" style="background-image: url(@image.ImagePathScaled)">
                    <div class="readnews_image_lamp"></div>
                    <a class="readnews_image_link" href="@image.ImagePathOriginal"></a>
                    <img src="~/images/img_preview_border.png" />
                </div>
            }
            positionCount++;
        }
    </div>
}