@model OPKODABbl.ViewModels.Account.EditProfileViewModel

<div class="content_wrapper">
    <a class="content_wrapper_blue" asp-action="EditProfile" asp-controller="Account" asp-route-userName="@User.Identity.Name">Редактирование профиля</a>
    <!--
    -->
    <a class="content_wrapper_red" asp-action="EditProfile" asp-controller="Account" asp-route-userName="@User.Identity.Name">@Model.Name</a>
    <form class="edit_profile" asp-action="EditProfile" asp-controller="Account" asp-antiforgery="true" method="post" enctype="multipart/form-data">
        <input type="hidden" name="UserId" value="@Model.UserId" />
        <div class="attention_wrapper">
            @if (!string.IsNullOrWhiteSpace(ViewBag.Successful))
            {
                <span class="successful">@ViewBag.Successful</span>
            }
        </div>
        <table class="register">
            <tr>
                <td class="left">Класс твоего персонажа.</td>
                <td class="right">
                    <div>
                        <img style="vertical-align: middle;" src="~/images/class_icon.png" />
                        <select asp-for="CharacterClassId" asp-items="ViewBag.Classes" required>
                            <option></option>
                        </select>
                    </div>
                    <div class="attention_wrapper">
                        <span class="wrong_data" asp-validation-for="CharacterClassId"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="left">Адрес Email. Указывай реальный адрес, т.к. на него придет письмо для подтверждения регистрации.</td>
                <td class="right">
                    <div>
                        <img style="vertical-align: middle;" src="~/images/mail_icon.png" />
                        <input class="login_page" type="email" asp-for="Email" placeholder="Адрес Email" />
                    </div>
                    <div class="attention_wrapper">
                        <span class="wrong_data" asp-validation-for="Email"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="left">Задайте пароль, только не "qwerty".</td>
                <td class="right">
                    <div>
                        <img style="vertical-align: middle;" src="~/images/pass_icon.png" />
                        <input class="login_page" type="password" asp-for="NewPassword" placeholder="Новый пароль" />
                    </div>
                    <div class="attention_wrapper">
                        <span class="wrong_data" asp-validation-for="NewPassword"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="left">Введи пароль еще раз, на всякий случай.</td>
                <td class="right">
                    <div>
                        <img style="vertical-align: middle;" src="~/images/pass_icon.png" />
                        <input class="login_page" type="password" asp-for="NewPasswordConfirm" placeholder="Еще разок новый пароль" />
                    </div>
                    <div class="attention_wrapper">
                        <span class="wrong_data" asp-validation-for="NewPasswordConfirm"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="left">А какой ты сегодня?</td>
                <td class="right">
                    <div>
                        <img src="@Model.AvatarImage" /><br />
                        <img style="vertical-align: middle;" src="~/images/avatar_icon.png" />
                        <input class="file" type="file" name="avatarImage" accept=".jpg,.jpeg,.gif,.png" />
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br /><br />
                    <img style="vertical-align: middle;" src="~/images/pass_icon.png" />
                    <input class="login_page" type="password" asp-for="Password" placeholder="Введи текущий пароль" />
                    <br />
                    <span class="wrong_data" asp-validation-for="Password"></span>
                    <br /><br />
                    <input class="login_button" type="submit" value="Сохранить" />
                </td>
            </tr>
        </table>
    </form>
</div>

@section scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}