@model OPKODABbl.ViewModels.Forum.EditReplyViewModel

<div class="forum_navigation">
    <a asp-action="Index" asp-controller="Forum">Все разделы</a>
    <font color="white">»</font>
    <a asp-action="Subsection" asp-controller="Forum" asp-route-subsectionId="@ViewBag.Topic.Subsection.Id">@ViewBag.Topic.Subsection.SubsectionName</a>
    <font color="white">»</font>
    <a asp-action="ViewTopic" asp-controller="Forum" asp-route-topicId="@ViewBag.Topic.Id">@ViewBag.Topic.TopicName</a>
    <font color="white">»</font>
    <a href="#">Редактировать ответ</a>
</div>

<table class="new_message">
    <tr>
        <td class="line" colspan="2">
        </td>
    </tr>
    <tr>
        <td class="message">

            <form class="reply" asp-action="EditReply" asp-controller="Forum" method="post">
                <input type="hidden" asp-for="ReplyId" value="@Model.ReplyId" />
                <input type="hidden" asp-for="TopicId" value="@Model.TopicId" />
                <input type="hidden" asp-for="HtmlAnchor" value="@Model.HtmlAnchor" />
                <input type="hidden" asp-for="TopicOwner" value="@Model.TopicOwner" />
                @if (Model.TopicOwner)
                {
                    <input class="topicname" type="text" asp-for="TopicName" /><br />
                    <span class="wrong_data" asp-validation-for="TopicName"></span><br />
                }
                <label asp-for="ReplyBody"></label><br />
                <textarea id="textarea" asp-for="ReplyBody"></textarea><br />
                <span class="wrong_data" asp-validation-for="ReplyBody"></span><br />
                <input class="button" type="submit" value="Сохранить" />
            </form>

        </td>
        <td class="author">
            @await Html.PartialAsync("BBcodeButtonsPartial")
        </td>
    </tr>
    <tr>
        <td class="line" colspan="2">
        </td>
    </tr>
</table>

@section scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_BBcodeScriptPartial");
    }
}