@model List<OPKODABbl.Models.Forum.Section>

    <div class="forum_navigation">
        <a asp-action="Index" asp-controller="Forum">Все разделы</a>
    </div>

<table class="viewsubsection">


    @foreach (var sec in Model)
    {
        <tr>
            <td class="header_title" style="width: 664px;">
                @sec.SectionName
            </td>
            <td class="header" style="width: 80px;">
                Тем
            </td>
            <td class="header" style="width: 80px;">
                Ответов
            </td>
            <td class="header" style="width: 150px;">
                Последнее сообщение
            </td>
        </tr>
        foreach (var subsec in sec.Subsections.OrderBy(s => s.SubsectionPosition))
        {
            var topicsCount = subsec.Topics.Count();
            var repliesCount = subsec.Topics.SelectMany(t => t.Replies).Count();

            <tr>
                <td class="content">
                    <a asp-action="Subsection" asp-controller="Forum" asp-route-subsectionId="@subsec.Id">@subsec.SubsectionName</a>
                </td>
                <td class="content" style="text-align: center;">
                    @subsec.Topics.Count()
                </td>
                <td class="content" style="text-align: center;">
                    @{ 
                        int resultCount = repliesCount - topicsCount;
                    }
                    @resultCount
                </td>
                <td class="content_lastmessage" style="text-align: center;">
                    @if (repliesCount > 0)
                    {
                        var topicDate = subsec.Topics.OrderByDescending(t => t.TopicDate).First().TopicDate;
                        var replyDate = subsec.Topics.SelectMany(t => t.Replies).OrderByDescending(r => r.ReplyDate).First().ReplyDate;


                        var classColor = subsec.Topics.SelectMany(t => t.Replies).OrderByDescending(r => r.ReplyDate).First().User.CharacterClass.ClassColor;
                        var userName = subsec.Topics.SelectMany(t => t.Replies).OrderByDescending(r => r.ReplyDate).First().User.Name;

                        <font color="@classColor">@userName</font>
                        <br />
                        @replyDate.ToShortDateString()<b> - </b>@replyDate.ToShortTimeString()

                    }
                    else
                    {
                        <font>-----</font>
                    }
                </td>
            </tr>
        }
    }

</table>