@model List<OPKODABbl.Models.Forum.Section>

<div class="forum_wrapper">

    @*<a class="forum_blue" asp-action="Index" asp-controller="Forum">Форум</a>*@

    <table border="1" width="100%">
        @foreach (var sec in Model)
        {
            <tr style="background-color: darkgray;">
                <td style="width: 600px;">
                    @sec.SectionName
                </td>
                <td align="center">
                    Topics
                </td>
                <td align="center">
                    Replies
                </td>
                <td align="center">
                    Last Message
                </td>
            </tr>
            foreach (var subsec in sec.Subsections.OrderBy(s => s.SubsectionPosition))
            {
                <tr style="background-color: azure;">
                    <td>
                        <a asp-action="Subsection" asp-controller="Forum" asp-route-subsectionId="@subsec.Id">@subsec.SubsectionName</a>
                    </td>
                    <td align="center">
                        @subsec.Topics.Count()
                    </td>
                    <td align="center">
                        @subsec.Topics.SelectMany(t => t.Replies).Count()
                    </td>
                    <td align="center">
                        @if (subsec.Topics.SelectMany(t => t.Replies).Count() > 0)
                        {
                            @subsec.Topics.SelectMany(t => t.Replies).OrderByDescending(r => r.ReplyDate).First().User.Name
                            @*if (subsec.Topics.SelectMany(t => t.Replies).OrderByDescending(r => r.ReplyDate).First().User != null)
                            {
                                @subsec.Topics.SelectMany(t => t.Replies).OrderByDescending(r => r.ReplyDate).First().User.Name
                            }
                            else
                            {
                                <font>Аноним</font>
                            }*@
                        }
                        else if (subsec.Topics.Count > 0)
                        {
                            @subsec.Topics.OrderByDescending(t => t.TopicDate).First().User.Name
                            @*if (subsec.Topics.OrderByDescending(t => t.TopicDate).First().User != null)
                            {
                                @subsec.Topics.OrderByDescending(t => t.TopicDate).First().User.Name
                            }
                            else
                            {
                                <font>Аноним</font>
                            }*@
                        }
                        else
                        {
                            <font>-----</font>
                        }
                    </td>
                </tr>
            }
        }
    </table>

</div>