@model List<OPKODABbl.Models.Forum.Section>

    <div class="forum_navigation">
        <a asp-action="Index" asp-controller="Forum">Все разделы</a>
    </div>

<table class="viewsubsection">


    @foreach (var sec in Model)
    {
        <tr>
            <td class="header_title" style="width: 664px;">
                @sec.SectionName
            </td>
            <td class="header" style="width: 80px;">
                Тем
            </td>
            <td class="header" style="width: 80px;">
                Ответов
            </td>
            <td class="header" style="width: 150px;">
                Последнее сообщение
            </td>
        </tr>
        foreach (var subsec in sec.Subsections.OrderBy(s => s.SubsectionPosition))
        {
            var topicsCount = subsec.Topics.Count();
            var repliesCount = subsec.Topics.SelectMany(t => t.Replies).Count();

            <tr>
                <td class="content">
                    <a asp-action="Subsection" asp-controller="Forum" asp-route-subsectionId="@subsec.Id">@subsec.SubsectionName</a>
                </td>
                <td class="content" style="text-align: center;">
                    @subsec.Topics.Count()
                </td>
                <td class="content" style="text-align: center;">
                    @{ 
                        int resultCount = repliesCount - topicsCount;
                    }
                    @resultCount
                </td>
                <td class="content_lastmessage" style="text-align: center;">
                    @if (repliesCount > 0)
                    {
                        var replyDate = subsec.Topics.SelectMany(t => t.Replies).Last().ReplyDate;

                        // Формирование ссылки на последнее сообщение в подразделе
                        string lastMessageLink = $"/Forum/ViewTopic?topicId={subsec.Topics.Last().Id}&page={(int)Math.Ceiling(subsec.Topics.Last().Replies.Count() / (double)10)}#{subsec.Topics.Last().Replies.Count()}";


                        var classColor = subsec.Topics.SelectMany(t => t.Replies).Last().User.CharacterClass.ClassColor;
                        var userName = subsec.Topics.SelectMany(t => t.Replies).Last().User.Name;

                        <font color="@classColor">@userName</font>
                        <br />
                        <a href="@lastMessageLink">@replyDate.ToShortDateString()<b> - </b>@replyDate.ToShortTimeString()</a>

                    }
                    else
                    {
                        <font>-----</font>
                    }
                </td>
            </tr>
        }
    }

</table>