@model OPKODABbl.Models.Forum.Subsection

<div class="forum_navigation">
    <a asp-action="Index" asp-controller="Forum">Все разделы</a>
    <font color="white">»</font>
    <a asp-action="Subsection" asp-controller="Forum" asp-route-subsectionId="@Model.Id">@Model.SubsectionName</a>
</div>

<div class="newtopic_link">
    <a asp-action="CreateTopic" asp-controller="Forum" asp-route-subsectionId="@Model.Id">Новая тема</a>
</div>

<div class="pages">
    Страницы:
    @for (int i = 1; i <= ViewBag.TotalPages; i++)
    {
        if (i != ViewBag.CurrentPage)
        {
            string space = " ";
            @Html.ActionLink(i.ToString(), "Subsection", "Forum", new { subsectionId = Model.Id, page = i })
            @space
        }
        else
        {
            string space = i + " ";
            @space
        }
    }
</div>

<table class="viewsubsection">
    <tr>
        <td class="header" style="width: 440px;" colspan="2">
            Topic Name
        </td>
        <td class="header" style="width: 150px;">
            Author
        </td>
        <td class="header" style="width: 80px;">
            Views
        </td>
        <td class="header" style="width: 80px;">
            Replies
        </td>
        <td class="header" style="width: 150px;">
            Last Message
        </td>
    </tr>
        @foreach (var topic in Model.Topics)
        {
            int pageSize = 10;

            int totalPages = (int)Math.Ceiling(topic.Replies.Count() / (double)pageSize);
            // Формирование ссылки на последнее сообщение в подразделе
            string lastMessageLink = $"/Forum/ViewTopic?topicId={topic.Id}&page={totalPages}#{topic.Replies.Count()}";

            <tr>
                <td class="content" style="width: 20px;" valign="middle">
                    @if (topic.Announcement)
                    {
                        <img src="~/images/forum_announcement_icon.png" />
                    }
                    else
                    {
                        <img src="~/images/forum_topic_icon.png" />
                    }
                </td>
                <td class="content">
                    @if (User.IsInRole("admin"))
                    {
                        <a class="adm" asp-action="DeleteTopic" asp-controller="Forum" asp-area="Admin" asp-route-topicId="@topic.Id">Удалить</a>
                    }
                    &nbsp;<a class="topicname" asp-action="ViewTopic" asp-controller="Forum" asp-route-topicId="@topic.Id">@topic.TopicName</a><br />
                    @if (totalPages > 1)
                    {
                        <font class="pages">Страницы:</font>
                        for (int i = 1; i <= totalPages; i++)
                        {
                            string space = " ";
                            <a class="pagelink" asp-action="ViewTopic" asp-controller="Forum" asp-route-topicId="@topic.Id" asp-route-page="@i">@i</a>
                            @space
                        }
                    }
                </td>
                <td class="content" style="text-align: center;">
                    @if (topic.Replies.Count > 0)
                    {
                        var firstReplyUser = @topic.Replies.First().User;
                        <font color="@firstReplyUser.CharacterClass.ClassColor">@firstReplyUser.Name</font>
                    }
                </td>
                <td class="content" style="text-align: center;">
                    54
                </td>
                <td class="content" style="text-align: center;">
                    @{ 
                        var repliesCount = topic.Replies.Count() - 1;
                    }
                    @repliesCount
                </td>
                <td class="content_lastmessage" style="text-align: center;">
                    @if (topic.Replies.Count() > 1)
                    {
                        var classColor = topic.Replies.Last().User.CharacterClass.ClassColor;
                        var userName = topic.Replies.Last().User.Name;
                        var replyDate = topic.Replies.Last().ReplyDate;

                        <font color="@classColor">@userName</font>
                        <br />
                        <a class="anchor_link" href="@lastMessageLink">@replyDate.ToShortDateString()<b> - </b>@replyDate.ToShortTimeString()</a>
                    }
                    else
                    {
                        <font>-----</font>
                    }
                </td>
            </tr>
        }
</table>

<div class="pages">
    Страницы:
    @for (int i = 1; i <= ViewBag.TotalPages; i++)
    {
        if (i != ViewBag.CurrentPage)
        {
            string space = " ";
            @Html.ActionLink(i.ToString(), "Subsection", "Forum", new { subsectionId = Model.Id, page = i })
            @space
        }
        else
        {
            string space = i + " ";
            @space
        }
    }
</div>