@model OPKODABbl.Models.Forum.Topic


<div class="forum_navigation">
    <a asp-action="Index" asp-controller="Forum">Все разделы</a>
    <font color="white">»</font>
    <a asp-action="Subsection" asp-controller="Forum" asp-route-subsectionId="@Model.Subsection.Id">@Model.Subsection.SubsectionName</a>
    <font color="white">»</font>
    <a asp-action="ViewTopic" asp-controller="Forum" asp-route-topicId="@Model.Id">@Model.TopicName</a>
</div>

<div class="pages">
    Страницы:
    @for (int i = 1; i <= ViewBag.TotalPages; i++)
    {
        if (i != ViewBag.CurrentPage)
        {
            string space = " ";
            @Html.ActionLink(i.ToString(), "ViewTopic", "Forum", new { topicId = Model.Id, page = i })
            @space
        }
        else
        {
            string space = i + " ";
            @space
        }
    }
</div>

<table class="viewtopic">
    @if (ViewBag.CurrentPage == 1)
    {
        <tr>
            <td class="author">
                @if (Model.User != null)
                {
                    <b><font color="@Model.User.CharacterClass.ClassColor">@Model.User.Name</font></b>
                    if (Model.User.Name != "Anonymous")
                    {
                        <br />
                        <font color="@Model.User.Role.Color">@Model.User.Role.Rank</font>
                    }
                    <br />
                    @if (Model.User.AvatarImage != null)
                    {
                        <img src="@Model.User.AvatarImage.ImagePath" />
                    }
                }
                else
                {
                    <span>Пользователь не найден</span>
                }
            </td>
            <td class="message">
                <div class="message_info">
                    @Model.TopicDate.ToShortDateString()
                </div>
                @Html.Raw(Model.TopicBody)
            </td>
        </tr>
    }
    @foreach (var reply in Model.Replies)
    {
        <tr>
            <td class="author">
                @if (reply.User != null)
                {
                    <b><font color="@reply.User.CharacterClass.ClassColor">@reply.User.Name</font></b>
                    if (reply.User.Name != "Anonymous")
                    {
                        <br />
                        <font color="@reply.User.Role.Color">@reply.User.Role.Rank</font>
                    }
                    <br />
                    @if (reply.User.AvatarImage != null)
                    {
                        <img src="@reply.User.AvatarImage.ImagePath" />
                    }
                }
                else
                {
                    <span>Пользователь не найден</span>
                }
            </td>
            <td class="message">
                <div class="message_info">
                    @reply.ReplyDate.ToShortDateString()
                </div>
                @Html.Raw(reply.ReplyBody)
            </td>
        </tr>
    }
</table>

<div class="pages">
    Страницы:
    @for (int i = 1; i <= ViewBag.TotalPages; i++)
    {
        if (i != ViewBag.CurrentPage)
        {
            string space = " ";
            @Html.ActionLink(i.ToString(), "ViewTopic", "Forum", new { topicId = Model.Id, page = i })
            @space
        }
        else
        {
            string space = i + " ";
            @space
        }
    }
</div>

    <br /><br /><br />

    <form asp-action="AddReply" asp-controller="Forum" method="post">
        <input type="hidden" name="TopicId" value="@Model.Id" />
        <textarea style="width: 700px; height: 300px;" name="ReplyBody"></textarea><br />
        <input type="submit" value="Ответить" />
    </form>

    <br /><br /><br />

    @*<center>
        <pre>
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            if (i != ViewBag.CurrentPage)
            {
                string space = " ";
                @Html.ActionLink(i.ToString(), "ViewTopic", "Forum", new { topicId = Model.Id, page = i })
                @space
            }
            else
            {
                string space = i + " ";
                @space
            }
        }
    </pre>
    </center>*@
