@model OPKODABbl.ViewModels.Page.RosterViewModel

<div class="content_wrapper">

    <a class="content_wrapper_blue" asp-action="Roster" asp-controller="Page">Состав гильдии</a><br />

    <table class="roster">
        @foreach (var user in Model.Users)
        {
            <tr>
                <td class="class">
                    <img src="@user.CharacterClass.ClassIconPath" />
                </td>
                <td class="name" style="color: @user.CharacterClass.ClassColor">
                    @user.Name
                </td>
                <td class="role" style="color: @user.Role.Color;">
                    @user.Role.Rank
                </td>
            </tr>
        }
    </table>
</div>